<% if @page.album.present? %>

    <% cache "refinery/photo_gallery/albums/#{@page.album.id}" do %>
        <div class="album-description">
          <%= raw @page.album.description %>
        </div>
    <% end %>

    <div id="photo_gallery">
      <%= render :partial => "/refinery/photo_gallery/albums/photos" %>
    </div>

<% end %>

